table{
    width: 100%;
    border-spacing: 0px 1px;
    overflow: hidden;
    table-layout: fixed;
}
th{
    background-color: rgb(225, 225, 225);
    position: sticky;
    top: 0px;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#history-table > thead tr th:first-child,
#history-table > tbody tr td:first-child {
  width: 2em;
  min-width: 2em;
  max-width: 2em;
  word-break: break-all;
}

tr:nth-child(odd){
    background-color: rgb(246, 246, 246);
}

#history-table-div{
    height: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: aliceblue;
}
#history-div{
    padding-top: 12vh;
    width: 35vw;
    height: 87vh;
    float: left;
    text-align: center;
    margin-left: 1em;
}
#data-view-div{
    padding-top: 12vh;
    width: 60vw;
    height: 87vh;
    float:right;
    text-align: center;
}

.chart-div{
    position: relative;
    width: 50%;
    float: left;
}

#line-chart-div{
    position: relative;
    width: 100%;
    height: 35%;
}

button{
    border: none;
    padding: 5px;
    text-align: center;
    color: white;
}

#income-btn{
    background-color: #4CAF50;
}
#expense-btn{
    background-color: #f44336;
}

select{
    padding: 3px;
    border: 1px solid #CCC;
    background: #f2f2f2;
}