table{
    background-color: aliceblue;
    width: 100%;
}
#history-table-div{
    padding-top: 10vh;
    width: 30vw;
    height: 89vh;
    float: left;
    text-align: center;
    margin-left: 1em;
}
#data-view-div{
    padding-top: 10vh;
    width: 60vw;
    height: 89vh;
    float:right;
    text-align: center;
}

.chart-div{
    position: relative;
    width: 50%;
    float: left;
}

#line-chart-div{
    position: relative;
    width: 100%;
    height: 35%;
}
