<!DOCTYPE html>
<html>
    <body>
        <br>
        <label for="user">User: </label>
        <select id="user-select"></select><br><br>
        
        <label for="category">Category: </label>
        <select id="category-select"></select>

        <h2>Budgets</h2>
        <div id="subcat-div"></div>

        <button id="apply-btn">Apply</button><br><br>
        <button id="close-btn">Close</button>
    </body>
    <script src="../scripts/database.js"></script> 
    <script src="../scripts/budgets.js"></script> 
</html>