<!DOCTYPE html>
<html>
    <head>
        <style>
            .select-label{
                font-weight: bold;
            }
            #subcat-div{
                height: 60vh;
            }
        </style>
    </head>
    <body>
        <br>
        <label class="select-label" for="user">User: </label>
        <select id="user-select"></select><br><br>
        
        <label class="select-label" for="category">Category: </label>
        <select id="category-select"></select><br><br><br>

        <div id="subcat-div"></div>

        <button id="apply-btn">Apply</button>
        <button id="close-btn">Close</button>
    </body>
    <script src="../scripts/database.js"></script> 
    <script src="../scripts/budgets.js"></script> 
</html>