<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Budget Manager</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div id="history-div">
        <button id="expense-btn">Add Expense</button>
        <button id="income-btn">Add Income</button><br><br>
        <h1>History</h1>
        <label for="user-select">User: </label>
        <select id="user-select">
            <option value=-1>All</option>
        </select>
            <label for="date-search">Date Range: </label>
            <select id="date-search-select">
                <option value="all-time">All Time</option>
                <option value="last-7-days">Last 7 Days</option>
                <option value="last-30-days">Last 30 Days</option>
                <option value="last-90-days">Last 90 Days</option>
                <option value="last-180-days">Last 180 Days</option>
                <option value="last-365-days">Last 365 Days</option>
                <option value="custom">Custom</option>
            </select>
            <div id="custom-date-search" style="display: none;">
                <input type="date" id="start-date">
                <input type="date" id="end-date">
                <button id="submit-btn">Submit</button>
            </div><br><br>
        <div id="history-table-div">
            <table id="history-table">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Note</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="data-view-div">
        <label for="view">View: </label>
        <select id="view-select">
            <option value="budget">Budget</option>
            <option value="charts">Charts</option>
        </select><br><br>
        <div id="budget-table-div">
            <h1>Budget</h1>
            <label for="budget-month">Month:</label>
            <select id="budget-month-select"></select>
            <label for="cat-budget">Category: </label>
            <select id="cat-budget-select">
                <option value="All">All</option>
            </select><br><br>
            <table id="budget-table" data-category="All">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Budgeted</th>
                        <th>Spent</th>
                        <th>Left</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="chart-div" style="display: none;">
            <canvas id="expense-canvas"></canvas>
        </div>
        <div class="chart-div" style="display: none;">
            <canvas id="income-canvas"></canvas>
        </div>
        <div id="line-chart-div" class="chart-div" style="display: none;">
            <canvas id="net-income-canvas"></canvas>
        </div>
            <h1>Net Income:</h1>
            <h2 id="net-income"></h2>
    </div>
    <script src="../scripts/database.js"></script>
    <script src="../scripts/charts.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/budget-table.js"></script>
</body>
</html>