<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Budget Manager</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <button id="expense-btn">Add Expense</button>
    <button id="income-btn">Add Income</button><br><br><br>
    <div>
        <label for="user-select">User: </label>
        <select id="user-select">
            <option value=-1>All</option>
            <option value=1>Nick</option>
            <option value=2>Jennifer</option>
        </select>
    </div>
    <div>
        <label for="date-search">Date Range: </label>
        <select id="date-search-select">
            <option value="all-time">All Time</option>
            <option value="past-year">Past Year</option>
            <option value="past-month">Past Month</option>
            <option value="past-week">Past Week</option>
            <option value="custom">Custom</option>
        </select><br>
        <div id="custom-date-search" style="visibility: hidden;">
            <input type="date" id="start-date">
            <input type="date" id="end-date">
            <button id="submit-btn">Submit</button>
        </div>
    </div>
    <div>
        <h1>History</h1>
        <table id="history-table">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Note</th>
                </tr>
            </thead>
        </table>
    </div>
    <div>
        <h1>Totals</h1>
        <table id="expense-table">
            <tr>
                <th>Category</th>
                <th>Total</th>
                <th>Percentage</th>
            </tr>
        </table>
        <table id="income-table">
            <tr>
                <th>Category</th>
                <th>Total</th>
                <th>Percentage</th>
            </tr>
        </table>
    </div>
    <h1>Net Income:</h1>
    <h2 id="net-income"></h2>
    <script src="../scripts/database.js"></script>
    <script src="../scripts/index.js"></script>
</body>
</html>