<!DOCTYPE html>
<html>
    <body>
        <label for="auto-launch">Launch at start:</label>
        <input type="checkbox" id="autolaunch-input"><br><br>
        <label for="reminder">Enable reminder:</label>
        <input type="checkbox" id="reminder-input"><br><br>
        <label for="reminder-days">Days until reminder:</label>
        <input type="number" id="days-input"><br><br>
        <button id="accept-btn">Accept</button><br><br>
        <button id="cancel-btn">Cancel</button>
        <script>
            const {ipcRenderer, remote} = require('electron')
            const settings = require('../scripts/settings.js')

            let auto_launch = document.getElementById('autolaunch-input');
            let reminder = document.getElementById('reminder-input');
            let reminder_days = document.getElementById('days-input');

            document.getElementById('cancel-btn').addEventListener('click', () => {
                remote.getCurrentWindow().close()
            })

            ipcRenderer.on('initialize-settings', () => {
                settings.getSetting('launch-at-start', (value) => {
                    auto_launch.checked = value 
                })
                settings.getSetting('enable-reminder', (value) => {
                    reminder.checked = value 
                })
                settings.getSetting('reminder-days', (value) => {
                    reminder_days.value = value 
                })
            })

            document.getElementById('accept-btn').addEventListener('click', () => {
                settings.setSetting('launch-at-start', auto_launch.checked)
                settings.setSetting('enable-reminder', reminder.checked)
                //have to use callback to close because otherwise the window will close before setting value
                settings.setSetting('reminder-days', parseInt(reminder_days.value), () => {
                    settings.applySettings()
                    remote.getCurrentWindow().close()
                })
                
            })
        </script>
    </body>
</html>