<!DOCTYPE html>
<html>
    <head>
        <style>
            #user-list{ height: 65vh;}
            table{ width: 100%;}
            button{
                border: none;
                padding: 5px;
                text-align: center;
                color: white;
                float: right;
                margin-right: 5px;
            }
            #add-btn { background-color: #3879D9;}
            #close-btn { background-color: #DDD;}
        </style>
    </head>
    <body>
        <div id="user-list">
            <table id="user-table">
            </table>
        </div><br><br>
        <button id="add-btn">Add User</button>
        <button id="close-btn">Close</button>
    </body>
    <script src="../scripts/database.js"></script> 
    <script src="../scripts/users.js"></script> 
</html>